.checklist-main {}

.sameLine {
    display : inline-block;
    color: blue;
    .button {
        vertical-align: bottom;
    }
}

.back {
	vertical-align: top !important;
   	margin-top: 55px !important;
   	margin-left: -80px !important;
}

.checklist-container {
  	border: "4px solid black";
	box-shadow : 2px 2px 19px $black;
	margin-top: 4%;
}

.priority {
	$primary-color: #008CBA;
	$secondary-color: #e7e7e7;
	$alert-color: #f04124;
	$success-color: #43AC6A;
	$warning-color: #f08a24;
	$info-color: #a0d3e8;

	$selected-color: blue;

	input[data-toggle] {
	  display: none;
	}

    input[data-toggle]:checked + label,
	input[data-toggle]:checked + label {
	  background-color: $selected-color;
	  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 
	              0 1px 2px rgba(0, 0, 0, 0.05);
	}

	.button-group.toggle {
	  li:not(first-child) {
	    margin: 0 -0.9rem;
	  }
	}
}

.feature:nth-of-type(odd) {
	background: $honeypot-color-2;
	background-clip: content-box;
}

.feature:nth-of-type(even) {
	background: $honeypot-color-4;
	background-clip: content-box;
}

.checklistButtons {
	padding-left: 35%;
}
