.checklist-main {
	
}

.sameLine {
	display : inline-block;

	.button {
		vertical-align: bottom;
	}
}



.back {
	vertical-align: top !important;
   	margin-top: 55px !important;
   	margin-left: -80px !important;
}